<!-- Sidebar -->
<div class="sidebar sidebar-right si-si-3 sidebar-visible-lg-up ls-top-navbar-xs-up sidebar-light bg-white" id="sidebarRight" data-position="right" data-scrollable data-visible="lg-up">
	<div class="sidebar-heading">Online</div>
	<ul class="list-group list-group-fit">
		<li class="list-group-item">
			<a href="#">
				<span class="media">
					<span class="media-left">
						<img src="assets/images/people/50/guy-8.jpg" alt="" class="img-circle" width="35">
					</span>
					<span class="media-body media-middle">Andrew Brain</span>
				</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#">
				<span class="media">
					<span class="media-left">
						<img src="assets/images/people/50/guy-2.jpg" alt="" class="img-circle" width="35">
					</span>
					<span class="media-body media-middle">Jimmy Carter</span>
				</span>
			</a>
		</li>
		<li class="list-group-item active">
			<a href="#">
				<span class="media">
					<span class="media-left">
						<img src="assets/images/people/50/woman-5.jpg" alt="" class="img-circle" width="35">
					</span>
					<span class="media-body media-middle">Michelle Smith</span>
				</span>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#">
				<span class="media">
					<span class="media-left">
						<img src="assets/images/people/50/woman-2.jpg" alt="" class="img-circle" width="35">
					</span>
					<span class="media-body media-middle">Samantha Doe</span>
				</span>
			</a>
		</li>
	</ul>
	<p class="text-muted"><small>21 OFFLINE</small></p>
</div>
<!-- // END Sidebar -->