<!-- Sidebar -->
<div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-light ls-top-navbar-xs-up sidebar-transparent-md{% if sidebarOptions %} {{ sidebarOptions }}{% endif %}" id="sidebarLeft" data-scrollable>
	<div class="sidebar-heading">APPLICATIONS</div>
	<ul class="sidebar-menu">
		<li class="sidebar-menu-item{% if (slug === 'home') %} active{% endif %}">
			<a class="sidebar-menu-button" href="index.html">
				<i class="sidebar-menu-icon material-icons">account_box</i> Student
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-dashboard') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-dashboard.html">
				<i class="sidebar-menu-icon material-icons">school</i> Instructor
			</a>
		</li>
	</ul>
	<div class="sidebar-heading">Instructor</div>
	<ul class="sidebar-menu">
		<li class="sidebar-menu-item{% if (slug === 'instructor-courses') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-courses.html">
				<i class="sidebar-menu-icon material-icons">import_contacts</i> Course Manager
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-quizes') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-quizes.html">
				<i class="sidebar-menu-icon material-icons">help</i> Quiz Manager
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-profile') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-profile.html">
				<i class="sidebar-menu-icon material-icons">language</i> Public Profile
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-account') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-account.html">
				<i class="sidebar-menu-icon material-icons">account_box</i> Account Settings
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-messages') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-messages.html">
				<i class="sidebar-menu-icon material-icons">comment</i> Messages
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-earnings') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-earnings.html">
				<i class="sidebar-menu-icon material-icons">trending_up</i> Earnings
			</a>
		</li>
		<li class="sidebar-menu-item{% if (slug === 'instructor-statement') %} active{% endif %}">
			<a class="sidebar-menu-button" href="instructor-statement.html">
				<i class="sidebar-menu-icon material-icons">receipt</i> Statement
			</a>
		</li>
		<li class="sidebar-menu-item">
			<a class="sidebar-menu-button" href="login.html">
				<i class="sidebar-menu-icon material-icons">lock_open</i> Logout
			</a>
		</li>
	</ul>
	{% include 'partials/sidebar.menu.components.html' %}
</div>
<!-- // END Sidebar -->