<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top{% if navbarOptions %} {{ navbarOptions }}{% endif %}">

	<!-- Toggle sidebar -->
	<button class="navbar-toggler pull-xs-left" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

	<!-- Brand -->
	<a href="index.html" class="navbar-brand"><i class="material-icons">school</i> LearnPlus</a>
	
	{% include 'partials/navbar.search.html' %}
	
	<ul class="nav navbar-nav hidden-sm-down">
		
		<!-- Menu --> 
		<li class="nav-item{% if (slug === 'forum') %} active{% endif %}">
			<a class="nav-link" href="forum.html">Forum</a>
		</li>
		<li class="nav-item{% if (slug === 'get-help') %} active{% endif %}">
			<a class="nav-link" href="get-help.html">Get Help</a>
		</li>
	</ul>
	
	<!-- Menu -->
	<ul class="nav navbar-nav pull-xs-right">

		<li class="nav-item">
			<a href="cart.html" class="nav-link">
				<i class="material-icons">shopping_cart</i>
			</a>
		</li>
		
		{% include 'partials/navbar.user.html' %}

	</ul>
	<!-- // END Menu -->

</nav>
<!-- // END Navbar -->