<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top{% if navbarOptions %} {{ navbarOptions }}{% endif %}">

	<!-- Toggle sidebar -->
	<button class="navbar-toggler pull-xs-left" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

	<!-- Brand -->
	<a href="index.html" class="navbar-brand"><i class="material-icons">school</i> LearnPlus</a>

	<ul class="nav navbar-nav pull-xs-left hidden-sm-down">
		<li class="nav-item">
			<div class="nav-stats">$591 <small>GROSS</small></div>
		</li>
		<li class="nav-item">
			<div class="nav-stats">$31 <small>TAXES</small></div>
		</li>
		<li class="nav-item">
			<div class="nav-stats">$560 <small>NET</small></div>
		</li>
	</ul>

	<!-- Menu -->
	<ul class="nav navbar-nav pull-xs-right">
		
		<!-- User dropdown -->
		<li class="nav-item dropdown">
			<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"><img src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="img-circle" width="40"></a>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-list">
				<a class="dropdown-item" href="instructor-account.html">
					<i class="material-icons md-18">lock</i>
					<span class="icon-text">Edit Account</span>
				</a>
				<a class="dropdown-item" href="instructor-profile.html">
					<i class="material-icons md-18">person</i>
					<span class="icon-text">Public Profile</span>
				</a>
				<a class="dropdown-item" href="#">Logout</a>
			</div>
		</li>
		<!-- // END User dropdown -->

	</ul>
	<!-- // END Menu -->

</nav>
<!-- // END Navbar -->