<!-- User dropdown -->
<li class="nav-item dropdown">
	<a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"><img src="assets/images/people/50/guy-6.jpg" alt="Avatar" class="img-circle" width="40"></a>
	<div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
		<a class="dropdown-item" href="account-edit.html"><i class="material-icons md-18">lock</i> <span class="icon-text">Edit Account</span></a>
		<a class="dropdown-item" href="profile.html"><i class="material-icons md-18">person</i> <span class="icon-text">Public Profile</span></a>
		<a class="dropdown-item" href="login.html">Logout</a>
	</div>
</li>
<!-- // END User dropdown -->