<div id="chat">
	<div class="jumbotron hidden-md-down">
		 <div class="media">
		 	<div class="media-left">
		 		<img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="80"> 
		 	</div>
		 	<div class="media-body media-middle">
		 		<h4 class="m-b-0">Michelle Smith</h4>
		 		<p class="text-muted m-b-0">Close Friends</p>
		 	</div>
		 </div>
	</div>
	<ul class="media-list">
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">10 days ago</small>
						<a href="#">Michelle</a> <small class="text-muted">wrote:</small>
						<p class="m-b-0">Superb job.. Clients loved the new design.</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/guy-6.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">5 days ago</small>
						<a href="#">You</a> <small class="text-muted">wrote:</small>
						<p class="m-b-0">Glad it all worked out.</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">1 day ago</small>
						<a href="#">Michelle</a><small class="text-muted">wrote:</small>
						<p class="m-b-0">Was looking for you...</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">1 day ago</small>
						<a href="#">Michelle</a><small class="text-muted">wrote:</small>
						<p class="m-b-0">Was looking for you...</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">1 day ago</small>
						<a href="#">Michelle</a><small class="text-muted">wrote:</small>
						<p class="m-b-0">Was looking for you...</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">1 day ago</small>
						<a href="#">Michelle</a><small class="text-muted">wrote:</small>
						<p class="m-b-0">Was looking for you...</p>
					</div>
				</div>
			</div>
		</li>
		<li class="media">
			<div class="media-left">
				<a href=""><img src="assets/images/people/110/woman-5.jpg" alt="" class="img-circle" width="40"></a>
			</div>
			<div class="media-body">
				<div class="card">
					<div class="card-block-half">
						<small class="text-muted pull-xs-right">1 day ago</small>
						<a href="#">Michelle</a><small class="text-muted">wrote:</small>
						<p class="m-b-0">Was looking for you...</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="reply ls-right-sidebar ls-left-sidebar">
		<input class="form-control" rows="3" placeholder="Reply to Michelle">
	</div>
</div>