<!DOCTYPE html>
<html class="bootstrap-layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ title }}</title>

	{% include 'layouts/_header.html' %}

	{% block vendor_styling %}{% endblock %}

	{% block header_scripts %}{% endblock %}

</head>
<body class="layout-container ls-top-navbar si-l3-md-up si-r3-lg-up">

	{% include 'layouts/navbars/default.html' %}
	{% include 'layouts/sidebars/default.html' %}
	{% include 'layouts/sidebars/quiz.html' %}
	
	<!-- Content -->
	<div class="layout-content" data-scrollable>
		<div class="container-fluid">
			{% block page %}{% endblock %}
		</div>
	</div>

	{% include 'layouts/_footer.html' %}

	{% block vendor_scripts %}{% endblock %}

	{% block example_scripts %}{% endblock %}

</body>
</html>