---
title: Instructor Profile
slug: instructor-profile
---
{% extends "layouts/instructor-fluid.html" %}

{% block page %}
<ol class="breadcrumb hidden-print">
	<li><a href="#">Home</a></li>
	<li class="active">Profile</li>
</ol>

<div class="center">
	<a href="#" class="m-b-1"><img src="assets/images/people/110/guy-8.jpg" alt="" class="img-circle"></a>
	<h1 class=" h2 m-b-0">Adrian Demian</h1>
	<p class="lead text-muted m-b-0">Florida, USA</p>
	<div class="label label-primary">INSTRUCTOR</div>
	<hr>
	<h5 class="text-muted">Instructor Rating</h5>
	<p>
		<i class="material-icons text-success md-18">star</i>
		<i class="material-icons text-success md-18">star</i>
		<i class="material-icons text-success md-18">star</i>
		<i class="material-icons text-muted-light md-18">star_border</i>
		<i class="material-icons text-muted-light md-18">star_border</i>
	</p>
</div>
<hr class="m-a-0">
<h5 class="page-heading center text-muted">Courses by Adrian</h5>
<div class="card-columns">
	<div class="card">
		<div class="card-header bg-white">
			<div class="media">
				<div class="media-left media-middle">
					<a href="take-course.html">
						<img src="assets/images/vuejs.png" alt="Card image cap" width="100" class="img-rounded">
					</a>
				</div>
				<div class="media-body media-middle">
					<h4 class="card-title"><a href="take-course.html">Learn VueJs</a></h4>
					<div>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star_border</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header bg-white">
			<div class="media">
				<div class="media-left media-middle">
					<a href="take-course.html">
					<img src="assets/images/nodejs.png" alt="Card image cap" width="100" class="img-rounded">
					</a>
				</div>
				<div class="media-body media-middle">
					<h4 class="card-title"><a href="take-course.html">Npm &amp; Gulp Advanced Workflow</a></h4>
					<div>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star_border</i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header bg-white">
			<div class="media">
				<div class="media-left media-middle">
					<a href="take-course.html">
						<img src="assets/images/github.png" alt="Card image cap" width="100" class="img-rounded">
					</a>
				</div>
				<div class="media-body media-middle">
					<h4 class="card-title"><a href="take-course.html">Github Webhooks for Beginners</a></h4>
					<div>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star_border</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header bg-white">
			<div class="media">
				<div class="media-left media-middle">
					<a href="take-course.html">
						<img src="assets/images/gulp.png" alt="Card image cap" width="100" class="img-rounded">
					</a>
				</div>
				<div class="media-body media-middle">
					<h4 class="card-title"><a href="take-course.html">Gulp &amp; Slush Workflows</a></h4>
					<div>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star</i>
						<i class="material-icons text-warning md-18">star_border</i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}